/* Document CSS */

html body {
  background:   #eeeeee;
  color:        black;
  font-family:  sans-serif, Verdana, Arial, Helvetica;
  font-size:    1em;
  margin:       1em 5% 1em 5%;
  padding:      0;
}

h1, h2, h3, h4, h5, h6 {
  color:  #23819c;
}

.acronym {
  font-variant: small-caps;
}

.ERROR {
  background: #ff0000;
  border:     1px solid black;
  color:      white;
  margin:     0px 1px 0px 1px;
  padding:    0px 2px 0px 2px;
}

.note {
  background: #dddddd;
  border:     1px solid black;
  color:      black;
  margin:     1px 1px 1px 1px;
  padding:    2px 2px 2px 2px;
}

.programlisting {
  background: #ffffcc;
  border:     1px solid black;
  color:      black;
  margin:     1px 1px 1px 1px;
  padding:    2px 2px 2px 2px;
}

div.container {
  margin: 8px 0px 0px 0px;
  padding: 0px;
  position: relative;
}

a {
  background:             transparent;
  text-decoration:        none;
}

a:active {
  background:             transparent;
  text-decoration:        underline;
}

a:hover {
  background:             transparent;
  text-decoration:        none;
}

a:link {
  background:             transparent;
  text-decoration:        underline;
}

a:visited {
  background:             transparent;
  text-decoration:        underline;
}

code, pre {
  font: 110% monospace;
}

div#content {
  background: #ffffff;
  border: 2px solid #23819c;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin: 0px 8px 0px 216px;
  padding: 1px 1px 1px 1px;
}

div#content h1 {
  background:             #ffffcc;
  border-bottom:          1px solid #23819c;
  font:                   bold 25px sans-serif;
  letter-spacing:         0.5em;
  margin:                 0px;
  padding:                2px 2px 2px 2px;
  text-align:             right;
}

div#content h1 span {
  display:                block;
}

div#content p {
  margin:                 0.5em 0.5em 0.5em 0.5em;
  padding:                2px;
}

div#content p span {
  margin:                 0px;
  padding:                2px;
}

div#content pre {
  margin:                 0.5em 0.5em 0.5em 1em;
  padding:                2px;
}

div.menus {
  margin:                 0px 8px 0px 8px;
  padding:                0px;
  position:               absolute;
  width:                  200px;
}

div.menus li {
  display:                block;
  margin:                 0px;
  padding:                0px;
}

div.menus ul {
  margin:                 2px 2px 2px 2px;
  padding:                0px;
}

div.menu {
  background:             #ffffff;
  border:                 2px solid #23819c;
  margin:                 0px 0px 8px 0px;
  padding:                1px 1px 1px 1px;
}

div.menu h3 {
  background:             #ffffcc;
  border-bottom:          1px solid #23819c;
  font-size:              1.0em;
  margin:                 0px;
  padding:                2px 2px 0px 2px;
}

div.menu li {
  display:                block;
  margin:                 0px;
  padding:                0px;
}

abbr, acronym {
  border-bottom:          1px dotted;
  cursor:                 help;
}

img {
  border:                 none;
  margin:                 0px;
  padding:                0px;
}

div#indent ul {
  list-style:             none;
}
