/* $Id$ */

/*
 * CSS common to both Trac website and standalone HTML.
 */


/*
 * "The TenDRA Project" Banner
 */

h1#banner a {
	text-decoration: none;
	border-bottom: solid 1px transparent;
}

h1#banner a:hover {
	text-decoration: none;
	border-color: black;
	color: #000;
}

h1#banner {
	padding-top: 1em;
	padding-bottom: 1.5em;
	margin: 0;
	font-size: 10pt;
	text-transform: uppercase;
}

h1#banner span.logo {
	font-size: 24pt;
	text-transform: none;
}

h1#banner span.smallcaps {
	text-transform: lowercase;
	font-variant: small-caps;
}





/*
 * Colours
 */

/* main */

div.head, div.foot { border-color: #111; }
ul.sections li ul {
	border-top-color: #111;
	border-bottom-color: #111;
}
ul.sections > li:hover,
ul.sections > li:hover > a:hover {
	background-color: #111;
	color: #fff;
}


/* accents */

a tt {
	color: inherit;
}

a acronym.title:hover {
	color: inherit;
	border-bottom-color: #88f;
}

h2, h3, h4, h5, h6, h7, h8, h9 { color: #aaa; }
ul.sections > li:hover > a {
	color: #fff;
}

h1 {
	color: #222;
}

ul.sections li:hover ul a {
	color: #222;
}

ul.sections li > a:hover {
	color: #000;
}

div.timeline dt a em {
	color: #222;
}




/*
 * Typography
 */

h1, h2, h3, h4, h5, h6, h7, h8, h9 {
	font-weight: normal;
	font-family: ms trebuchet, arial, sans-serif;
	margin: 1em 0;
}

h1 {
	margin-top: 0.5em;
	padding-top: 0.25em;
	font-size: 18pt;
}

h2 {
	margin-top: 1.5em;
	font-size: 14pt;
}

h3 {
	margin-top: 1.5em;
	font-size: 12pt;
}

h3, h4, h5, h6, h7, h8, h9 {
	margin-top: 1.5em;
	font-size: 11pt;
}

a {
	text-decoration: underline;
	color: #000;
}

a:hover {
	color: blue;
}

body {
	color: #444;
	background-color: #fff;
	font-family: verdana, sans-serif;
	font-size: 11px;
	line-height: 16px;
}

h1#banner, h1 {
	font-family: Palatino, georgia, times new roman, Bitstream Vera Serif, serif;
}

hr {
	height: 1px;
	background-color: #eee;
	border: none;
}

b {
	color: #222;
}

em {
	font-style: normal;
	color: #000;
}

blockquote {
	margin: 2em 1.75em;
	font-style: normal;
}

pre {
	padding: 1ex 1.75em;
	margin: 1.25em 0;
	border: solid 1px #ddd;
	overflow-x: auto;
}

pre div.lines {
	float: left;
	border-right: solid 1px #ddd;
	background-color: #f7f7f7;
	color: #bbb ! important;
	margin-right: 1ex;
	padding: 1ex 0;
	padding-right: 1.5ex;
	padding-left: 1ex;
	margin: -1ex 0;
	margin-left: -1.75em;
	margin-right: 1ex;
}

div.code {
	border: none;
	padding: 0;
	margin: 0;
}

div.browser h1, pre, div.code {
	font-family: bitstream vera sans, monaco, monospace;
	line-height: 1.2;
}

ul, ol {
	padding: 0 0.5em;
}

p {
	margin: 0;
	margin-bottom: 1em;
}

li p {
	margin: 1.5em 0;
}

li p:last-child {
	margin-bottom: 0;
}

label {
	font-weight: normal;
}

dl dt {
	font-weight: normal;
}

ul.sections li.current {
	font-weight: bold;
}

ul.sections li.current ul {
	font-weight: normal;
}

p, dd {
	text-align: justify;
}



/* TODO: sort this out... sortable tables stuff */
table th.table-sortable:hover {
	cursor: pointer;
	background-color: #eee;
}

table th.table-sortable:hover:after {
	color: #ccc;
}

table th.table-notype {
	border-color: darkred;
	background-color: pink;
}

table th.table-descending:after {
	content: "\25B2";
}

table th.table-ascending:after {
	content: "\25BC";
}

table th.table-sorted:after {
	min-width: 1em;
	text-align: right;
	padding-left: 1em;
	color: #ddd;
	display: block;
	float: right;
	cursor: pointer;
}

acronym.title {
	border-bottom: dotted 1px #888;
}

acronym.title:hover {
	border-bottom-color: #000;
	color: #000;
	cursor: help;
}

i.replaceable {
	font-family: monospace;
}

