/* $Id$ */

body {
	margin: 2em 4em;
	max-width: 60em;
}

h1#banner {
	text-align: right;
}

div.toc ol {
	margin-left: 4em;
}

div.programlisting div.programlisting-language {
	display: none;
}


div.table table th, table.htmltable th {
	background-color: #f7f7f7;
}

div.table table, div.informaltable table {
    border-color: #ddd ! important;
}

div.table table th, div.table table td,
div.informaltable table th, div.informaltable table td,
table.htmltable td, table.htmltable th {
    border-color: #ddd ! important;
	padding: 0.5ex 1ex;
	text-align: left;
	vertical-align: top;
}

table.htmltable {
	border: solid 1px #ddd;
	border-collapse: collapse;
	margin-bottom: 1em;
}

table.htmltable td, table.htmltable th {
	border: solid 1px #ddd;
}

div.itemizedlist ul,
div.orderedlist ol {
	margin-left: 2em;
}

