html {
	background-color: #134;
}

body {
	margin: 0 auto;
	max-width: 60em;

	padding: 2em 5em;
	border-right: solid 1px #ddd;
	border-left: solid 1px #ddd;

	/* TODO: with -moz-etc for other browsers, too */
	box-shadow: 0px 0px 300px 0px rgba(0, 0, 0, 0.4);
}

h1#banner {
	text-align: right;
}

span.edition {
	font-size: 75%;
}

div.footer {
	margin: 1em 0;
}

div.footer div.bottomright {
	float: right;
}

div.navigation {
	color: #aaa;
}

div.navigation.bottom {
	margin-top: 3em;
}

div.navigation div.pages {
	float: right;
}

ol.toc {
	margin-left: 1em;
	list-style-type: none;
}

ol.toc ol {
	margin-left: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
	list-style-type: none;
}

table th {
	background-color: #f7f7f7;
}

table {
    border-color: #ddd;
	border: solid 1px #ddd;
	border-collapse: collapse;
	margin-bottom: 1em;
}

table.informal, table.informal td {
	border: none;
}

table th, table td {
	padding: 0.5ex 1ex;
	vertical-align: top;
	border: solid 1px #ddd;
}

ul, ol {
	margin-left: 2em;
}

div.figure, div.table {
	margin: 2em;
}

div.figure img {
	display: block;
}

div.figure b {
	margin-top: 1em;
	display: block;
}

blockquote.literallayout {
	white-space: pre-line;
}

span.multiline {
	display: inline-block;
	vertical-align: text-top;
	text-decoration: inherit;
}

h1 span.multiline,
h2 span.multiline,
h3 span.multiline,
h4 span.multiline,
h5 span.multiline {
	line-height: 120%;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code {
	font-size: 90%;
}

ol.footnotes {
	list-style-type: none;
	margin-left: 3em;
	margin-top: 3em;
}

ol.footnotes sup.footnote-number {
	position: absolute;
	width: 2em;
	margin-left: -2.5em;
}

div.table ol.footnotes {
	margin-top: 2em;
}

pre.screen div.lines,
pre.programlisting.tdf div.lines {
	display: none;
}

pre.screen,
pre.programlisting.tdf {
	padding: 1ex 1em;
}


p.cmdsynopsis {
	clear: left;
	margin-bottom: 1ex;
}

p.cmdsynopsis span.cmd {
	display: inline-block;
	vertical-align: top;
}

p.cmdsynopsis div.args {
	display: inline-block;
}

dl dd {
	margin-bottom: 1em;
}

dt.narrow {
	float: left;
	clear: left;
}

div.warning:before {
	content: "Warning";
	font-weight: bold;
	display: inline-block;
	margin-bottom: 1ex;
}

blockquote, div.warning {
	margin: 2em 1em;
	padding: 0;
	padding-left: 1em;
	border-left: solid .5ex;
}

div.warning {
	border-color: #d44;
}

blockquote {
	border-color: #ddd;
}

/* TODO: hacks: move to tccplus devguide-specific CSS */
table td.breakdown {
	border-right: none ! important;
	padding-right: 0 ! important;
}

table td.equals {
	border-left: none ! important;
	border-right: none ! important;
	padding-right: 0 ! important;
}

table td.result {
	border-left: none ! important;
}


/* TODO: hacks: move to tcc userguide-specific CSS */
table td.input {
	border-right: none ! important;
	padding-right: 0 ! important;
}

table td.input:after {
	content: "\A0\2192";
}

table td.output {
	border-left: none ! important;
}

table td.norow {
	border-bottom: solid 1px transparent ! important;
	padding-bottom: 0;
}

table.revhistory tr td.date,
table.revhistory tr td.revnumber {
	white-space: nowrap;
}

table.revhistory tr td.revremark p {
	text-align: justify;
	margin-top: 0;
	margin-bottom: 0.5ex;
}

ul.authorgroup {
	margin: 2em 0;
	padding: 0;
}

ul.authorgroup li {
	list-style-type: none;
	margin: 0;
}

p.copyright {
	margin-bottom: 0;
}

p.firstpub {
	margin-top: 1em;
}

/* TODO: i dislike this. maybe better would be js to break up long tables, and fold them to multiple <table>s, floated left */
table td.gap,
table th.gap {
	border-bottom: none ! important;
	border-top: none ! important;
	background-color: transparent ! important;
}

/* TODO: centralise */
table td.na {
	color: #bbb;
}

table tbody.sep {
}

table tbody:last-child {
	border-bottom: inherit;
}

a i.citetitle {
	font-style: normal;
}

sup.footnote-number a {
	text-decoration: none;
}

p.cmdsynopsis div.args a {
	text-decoration: none;
}

p.cmdsynopsis div.args a:hover {
	text-decoration: underline;
}

p.cmdsynopsis div.args {
	color: #444;
}

/*
 * SVG figures
 */

@media screen {
	svg.figure {
		color-rendering: optimizeQuality;
		image-rendering: optimizeQuality;
		text-rendering:  optimizeLegibility;
		shape-rendering: crispEdges;
	}
}

@media print {
	svg.figure {
		color-rendering: optimizeQuality;
		image-rendering: optimizeQuality;
		text-rendering:  geometricPrecision;
		shape-rendering: geometricPrecision;
	}
}

svg.figure text {
	fill: #444;
	font-size: 90%;
}

svg.figure line,
svg.figure polyline,
svg.figure path {
	stroke-linejoin: round;
}

svg.figure .dashed {
	stroke-dasharray: 2 2;
	stroke-dashoffset: 1;
	stroke: #aaa;
}

svg.figure text {
	fill: #444;
}

svg.figure rect,
svg.figure circle,
svg.figure line,
svg.figure polyline,
svg.figure polygon,
svg.figure path {
	stroke: #888;
	stroke-width: 1px;
	stroke-linecap: butt;
}

svg.figure text.na {
	fill: #aaa;
}

svg.figure g.region text {
	fill: #aaa;
	text-transform: lowercase;
	font-variant: small-caps;
}

svg.figure rect.region,
svg.figure g.region rect,
svg.figure g.region line {
	stroke: #ddd;
}

svg.figure rect,
svg.figure circle,
svg.figure polyline,
svg.figure polygon,
svg.figure path {
	fill: none;
}

svg.figure polyline.arrow {
	shape-rendering: geometricPrecision;
	stroke-linecap: round;
}

svg.figure text {
	alignment-baseline: middle;
}

svg.figure g.shaded rect,
svg.figure g.shaded circle,
svg.figure g.shaded polygon {
	fill: #e7e7e7;
}

svg.figure text.shaded,
svg.figure g.shaded text {
	fill: #888;
}

svg.figure text.code {
	font-family: bitstream vera sans, monaco, monospace;
}

svg.figure text.big {
	font-size: 1.5em;
}

